.center{
  display: block;
  margin: 0 auto;
}

.article__title{
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 30px;
}

.article__content{
  margin-bottom: 30px;
}

.article__box-img{
  display: inline-block;
}

.article__box-img_small{
  max-width: 560px;
}

.article__box-text{
  display: inline-block;
}

.article__box-text_right{
  float: right;
}

.article__box-text_left{
  margin-bottom: 40px;
}

.article__text{
  margin-bottom: 30px;
}

.article__text:last-child{
  margin-bottom: 0;
}

.article__box-text_small{
  width: 490px;
}

.article__box-img_center{
  text-align: center;
}

.article__img{
  width: 100%;
}

.article__img-text{
  color: #5E5E5E;
}

.article__box-wrapper{
  border: 1px solid #000;
}

.article__img-text{
  padding: 15px 30px;
}

.mb-30{
  margin-bottom: 30px;
}
