.footer__container{
  background-color: #F1F1F1;
  padding: 25px 30px 25px 40px;
  border-radius: 10px;
  max-width: 1160px;
}

.footer__title{
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
}

.footer__item{
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.footer__item::before{
  position: absolute;
  content: "—";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer__item:last-child{
  margin-bottom: 0;
}
