.header__title{
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  margin-bottom: 30px;
}

.header__text{
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 30px;
}

.header__text:last-child{
  margin-bottom: 0;
}

.header__content{
  margin-bottom: 50px;
}

.nav{
  padding: 35px 0;
}

.big-content__container{
  max-width: 1140px;
  background-color: #F1F1F1;
  padding: 25px 50px;
  border-radius: 10px;
}

.big-content__title{
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
}

.header__nav .big-content__list{
  list-style: type;
  color: #02535F;
  padding-left: 25px;
}

.big-content__item{
  margin-bottom: 10px;
}

.big-content__item:last-child{
  margin-bottom: 0;
}

.big-content__link{
  position: relative;
}

.big-content__link:after{
  content: '';
  position: absolute;
  display: block;
  width: 100%;

  bottom: -1px;
  border: 1px solid #02535F;
}

.footer .big-content__item{
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.footer .big-content__item::before{
  position: absolute;
  content: "—";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer .big-content__item:last-child{
  margin-bottom: 0;
}
