.nav__container{
  max-width: 1160px;
  background-color: #F1F1F1;
  padding: 25px 30px;
  border-radius: 10px;
}

.header{
  padding-top: 60px;
}

.header__title{
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  margin-bottom: 30px;
}

.header__text{
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 30px;
}

.header__text:last-child{
  margin-bottom: 0;
}

.header__content{
  margin-bottom: 50px;
}

.nav{
  padding: 35px 0;
}

.nav__title{
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
}

.nav__list{
  list-style: type;
  color: #02535F;
}

.nav__item{
  margin-bottom: 10px;
}

.nav__item:last-child{
  margin-bottom: 0;
}

.nav__link{
  position: relative;
}

.nav__link:after{
  content: '';
  position: absolute;
  display: block;
  width: 100%;

  bottom: -1px;
  border: 1px solid #02535F;
}
